@import "@jetbrains/ring-ui/components/global/variables.css";

.widgetWrapper {
  position: relative;

  border: 1px solid var(--ring-borders-color);
  border-radius: var(--ring-border-radius);
}

.widgetTitle {
  width: 100%;

  color: var(--ring-text-color);

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  font-weight: 600;
}

.widgetTitleText {
  overflow: hidden;

  max-width: 100%;
  height: 16px;

  margin: 0 12px;
  padding: 8px 0 6px;

  cursor: default;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 1px solid var(--ring-line-color);
}

.widgetBody {
  width: 100%;
}

.widgetFrame {
  width: 100%;
  height: 100%;

  border: none;
}

.widgetLoader {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: hidden;
}

.widgetWrapperLoading .widgetLoader {
  display: block;
}

@value loaderWidth: 64px;

.widgetLoader::before {
  display: block;

  width: calc(100% + loaderWidth);
  height: 100%;

  content: '';
  animation: progress 1s linear infinite;

  opacity: 0.2;

  background: linear-gradient(to right, transparent, var(--ring-line-color) 40%, transparent 80%) repeat;
  background-size: loaderWidth;
}

.widgetAlertCaption {
  color: var(--ring-dark-text-color);
  background-color: var(--ring-message-background-color);

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
  font-weight: 600;
}

.widgetAlertIcon {
  margin-top: 15px;

  vertical-align: top;
}

@keyframes progress {
  from {
    transform: translateX(calc(0 - loaderWidth));
  }

  to {
    transform: translateX(0);
  }
}
